@model IEnumerable<CrudMvc.Models.Contato>
@{
    ViewData["Title"] = "Lista de Contatos";
}

<h1 class="text-center">Contatos com .Net 8 (.Net Core Mvc) </h1>

<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="Criar" asp-controller="Home" class="btn btn-secondary d-block mx-auto btn-lg">
            <i class="fa-solid fa-plus"></i> Novo Contato
        </a>
    </div>
</div>