

<div class="text-center capa  ">
    <h1 class="display-4 text-white ">Sou Matheus Couto</h1>
    <h2 class="text-white">Sou um desenvolvedor full stack especializado em tecnologias .Net e Js</h2>
    <img class="img-thumbnail img-fluid w-25 rounded-circle m-3" src="img/perfil.jpeg" alt="Foto de Matheus Couto">
    
</div>

<div class="row  justify-content-center">
    <div class="col  col-md-7 principal-text">
        <h3 class="text-white text-capitalize">Seja bem vindo ao meu portfolio</h3>
        <p class="text-white">Olá! Sou Matheus Couto, um desenvolvedor iniciante apaixonado pela tecnologia e
            pelo universo do desenvolvimento de software. Recentemente, tenho me dedicado a aprender e 
            criar projetos utilizando ASP.NET, um framework que me permite construir aplicações robustas e eficientes. 
            Embora eu esteja começando minha jornada profissional, este portfólio é uma coleção dos projetos que desenvolvi 
            até agora, demonstrando minhas habilidades adquiridas e minha evolução. Tenho grande entusiasmo em 
            continuar aprendendo e aplicando
            meus conhecimentos em novos desafios e oportunidades. Fique à 
            vontade para explorar meus projetos e entrar em contato para eventuais colaborações!</p>
    </div>
</div>