

<div class="row justify-content-md-center text-center">
    <div class="col col-3 bg-white">
        <h3>Back-End</h3>
        <p>Trabalho desde o  desenvolvimento,testes automatizados entre outros</p>
        <p>Stack:</p>
        <p>ASP.NET Core</p>
        <P class="text-primary cabecera">
            Experiencia:
        </P>
        <ul>
            <li>Web APIs</li>
            <li>ASP.NET Core MVC</li>
            <li>Entity framework core</li>
            <li>Dapper</li>
            <li>Principios SOLID</li>
        </ul>
    </div>
    <div class="col col-3 bg-white">
        <h3>Front-End</h3>
        <p>profissional criar Front-End robusto de acordo começando requerimento</p>
        <p>Stack</p>
        <p>ASP.NET MVC,Angular,React</p>
        <P class="text-primary cabecera">
            Experiencia:
        </P>
        <ul>
            <li>React Hooks</li>
            <li>Angular Material</li>
            <li>Boostrap</li>
            <li>Testes</li>
            <li>Tailwind</li>
        </ul>
    </div>
</div>
